.container {
  max-width: 70%;
  margin: 0 auto;
  justify-content: center;
}

.images {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Space between the images and the paragraph */
}

.spec-image {
  max-width: 45%;
}

.content {
  ul,
  li {
    text-align: left;
  }
  h1 {
    font-size: clamp(1rem, 1vw + 2rem, 10rem);
  }
  h2 {
    text-align: left;
    border-bottom: 3px solid #1a1a1ab6;
  }
  h3 {
    text-align: left;
  }
  h4 {
    text-align: left;
  }
}

.tablediv {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering (if there's enough height) */
}
