.t-container {
  max-width: 70%;
  margin: 0 auto;
  p {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1rem);
    text-align: left;
    font-family: "SF Pro Text-Bold", Helvetica;
  }
  h2 {
    text-align: left;
    border-bottom: 3px solid #1a1a1ab6;
  }

  h1 {
    background: linear-gradient(180deg, #000000 0%, #6e6d6d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "SF Pro Text-Bold", Helvetica;
    font-size: clamp(1rem, 1vw + 2rem, 10rem);
  }
}
